/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body 
{
    height: 100%;
    width: 100%;
}

/* Body Styles */
body {
    background-image: url(img/CampfireBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

/* Header Styles */
header {
    color: rgb(253, 0, 0);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

/* Section Styles */
section {
    margin-top: 20px;
    color: white;
}

section p {
    margin-bottom: 10px;
    color: white;
}

/* Footer Styles */
footer {
    color: white;
    text-align: left;
    font-style: italic;
    font-size: smaller;
    margin-top: 10px;
}