/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body 
{
    height: 100%;
    width: 100%;
}

/* Body Styles */
body {
    background-color: black;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

/* Header Styles */
header {
    color: rgb(253, 0, 0);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

section {
    margin-top: 10px;
    text-align: center;
    color: white;
}